       <!--改行代わりの空白分-->
  <p class="text-center">　　　　　　　　　　　　</p>

       <!--改行代わりの空白分-->
  <p class="text-center">　　　　　　　　　　　　</p>
  
  
  <div id="mainArea">
    <%= link_to image_tag("naganocake.png", size: "200x200") , root_path %>
</div>

<div class="text-center" style="width: 100%; margin: 0 auto; color:#694d49;">
	<h2 style="padding-top: 50px; color:white;">ご購入ありがとうございました！</h2>

	<div class="row" style="margin: 0 auto;">
		<div class="col-sm-3" style="background-image:url(/assets/tart1.jpg); background-size:cover; height: 200px; opacity:.8;"></div>
		<div class="col-sm-3" style="background-image:url(/assets/cake3.jpg); background-size:cover; background-position: center; height: 200px; opacity:.8;"></div>
		<div class="col-sm-3" style="background-image:url(/assets/tart2.jpg); background-size:cover; background-position: center; height: 200px; opacity:.8;"></div>
		<div class="col-sm-3" style="background-image:url(/assets/cake2.jpg); background-size:cover; background-position: center; height: 200px; opacity:.8;"></div>
	</div>