<h2>会員一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @customer.each do |customer| %>
  <tbody>
    <tr>
      <th><%= customer.id %></th>
      <th><%= customer.full_name %></th>
      <th><%= customer.email %></th>
      <th>
        <% if customer.is_deleted == false %>
          有効
        <% else %>
          退会
        <% end %>
      </th>
    </tr>
  </tbody>
  <% end %>
</table>