
<!--改行代わりの空白分-->
      　　<p class="text-center">　　　　　　　　　　　　</p>

<div class ="container">
    <!--<h2>ジャンル検索</h2>-->
    <div class="row-4">
        <div class="col">
        </div>
    </div>
    
    
    
    <div class="new-items">
        <button type="button" class="btn btn-outline-light">商品一覧</button>
        
        <!--改行代わりの空白分-->
      　　<p class="text-center">　　　　　　　　　　　　</p>
    
    
    <span style="color:white">
    <div class="row-8">
        <div class="col d-flex flex-wrap wrap">
            <!--アイテム要素-->
            
            
            <% @items.each do |item| %>
            <% if item.is_active == true %>
            <div class="col",style="padding-right: 0px; padding-left: 0px; margin: 10px 0;">
                
                
                
				<%= link_to attachment_image_tag(item, :item_image ,size:'300x300') , item_path(item.id) %></br>
				<%= item.name %></br>
				¥<%= item.price.to_s(:delimited, delimiter: ',') %>
			</div>
			<% end %>
			<% end %>
        </div>
        <%= paginate @items %>
    </div>
    </span>
</div>
