<div class="container">
    <div class="row">
        <div class="col">
            <h2>ジャンル編集</h2>
            </br>
            <div class="form-group">
                <%= form_with model:@genre, url: admin_genre_path do |f| %>
                <%= f.label :ジャンル名 %>
                <%= f.text_field :name,class: "col" %>
                <%= f.submit "変更を保存" ,class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>