<!--<div class="center-block"> Copyright © Yurucam（Team R) </div>-->

<div class="mx-auto" style="width: 400px;">
  Copyright © Yurucam（Team R) 
</div>

<!--<%#= link_to image_tag("naganocake.png", size: "200x200") , root_path %>-->

<!--<p><a class="btn btn-black" href="#" role="button">最高のケーキとのひとときを。</a></p>--->